.carrossel__titulo{
    color: var(--cor-destaque);
    background-color: var(--cor-principal);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
    transition-duration: 0s !important;

}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card{
    background: var(--cor-principal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.5em;
    margin: 1em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    gap: 10px;
}

.card__botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.botao{
    display: flex;
}

.descricao__titulo{
    font-weight: 700;
    color: var(--cor-destaque);
    margin-top: 1em;
}

.descricao__titulo-livro{
    font-weight: 700;
    font-size: 18px;
    color: var(--cor-texto2);
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}

.botao__ancora{
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: 700;
    background-color: var(--cor-destaque);
    padding: 1em 2.2em;
}

.botao__item{
    margin: 0 0.5em;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo{
        font-size: 26px;
        padding: 2em 0 1em 0;
    }

    .swiper-pagination{
        margin: 1em 0 3em 0;
    }

    .swiper-button-prev, 
    .swiper-button-next{
        display: block;
        top: 55%;
}

    .swiper{
        width: 70%;
    }

    .card{
        width: 50%;
        margin: 3em auto;
    }
}