.cabecalho__menu-hamburguer{
    width: 38px;
    height: 38px;
    display: inline-block;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
}

.cabecalho{
    background-color: var(--cor-fundo-footer);
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* possibilita a movimentação do objeto em top, left, bottom e right, livremente */
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.5em;
}

.lista__menu{
    display: none; /*deixa, nesse caso, a lista sem um espaço específico, ela não aparece. */
    position: absolute; /*depende do tipo de position estabelecido pela tag pai dessa classe (cabecalho) > se for diferente de static (padrão estabelecido) pode se movimentar semelhante ao position relative*/
    top: 100%; /*define a posição do topo de uma box de acordo com o elemento-pai do box*/
    width: 60vw;
}

.container__botao:checked ~ .lista__menu{
    display: block; /*aloca o espaço determinado para a lista*/
}

.container__botao{
    display: none;
}

.lista__menu-titulo,
.lista__menu-item{
    padding: 1em;
    background-color: var(--cor-fundo-footer);

}

.lista__menu-titulo{
    color: var(--cor-destaque);
    font-weight: 700;
}

.lista__menu-link{
    background: var(--cor-texto2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

@media screen and (min-width:1024px){
    .cabecalho__menu-hamburguer{
        display: none   ;
    }

    .cabecalho{
        padding: 0 3em;
    }

    .container__titulo,
    .container__titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 700;
        display: block;
    }

    .container__titulo-negrito{
        font-weight: 400;
    }

    .container__imagem-transparente{
        display: none;
    }

    .opcoes{
        display: flex;

    }

    .opcoes__lista{
        padding: 0em 1em;
        text-transform: uppercase;
    }

    .opcoes__lista-item{
        text-decoration: none;
        color: var(--cor-texto);
    }

    .opcoes__botao:checked ~ .lista__menu{
        display: block;
    }

    .lista__menu{
        width: 20vw;
    }

    .opcoes__botao{
        display: none;
    }

    .container__texto{
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .opcoes{
        margin: 0 auto 0 2em;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-texto);
        margin-left: 1.5em;
    }

    .container__texto{
        display: block;
    }

    .cabecalho{
        padding: 0 3em;
    }
}